#about {
    text-align: center;
    padding: 100px 0;

    h3 {
        @include heading-h3($base-font-size, $font-primary, $base-text-color);
        font-weight: 400;
        text-transform: $text-transorm-heading;
    }

    h2 {
        @include heading-h2(42px);
        padding: 30px 0;
    }

    p {
        @include paragraphs($base-font-size);
        text-align: center;
        padding-bottom: 50px;
        
    }
}


@media screen and (max-width: 992px) {
    #about {
        h2 {
            @include heading-h2(33px);
        }

        p {
            @include paragraphs(25px);
        }
    }
}

