#blog {
    .section_header {

        h2{
            @include heading-h2(42px);
            padding: 30px 0;
        }
    
        p {
            @include paragraphs($base-font-size);
            padding-bottom: 50px;
            
        }
    }

        .box {
            @include box;
            width: 33.33%;

            .article {
                border: 1px solid #e2e5ea;
                padding: 25px;
                transition: all .35s;
            }
    
            img {
                width: 100%;
            }
    
            h3 {
                @include heading-h3 (22px, $font-secondary, $base-text-color)
            }
    
            p {
                @include paragraphs($base-font-size);
                padding: 0 20px;
                color: $text-color-lighter;
            }
    
            .article:hover {
                box-shadow:  0 5px 20px #f0f0f0;
                .btn-read-more {
                    background-color: $base-bg-color;
                }
            }
        }
        }




// @media screen and (max-width: 1080px) {
//     #service {
//         .container_flex {

//             .service_item {
//                 justify-content: center;
//                 flex-basis: 95%;
//                 margin: 20px 0 20px 0;
//             }
//         }
//     }
// }

@media screen and (max-width: 768px) {
    #blog {
        .section_header {
            p {
                @include paragraphs(25px);
            }
        }
        .box {
            padding: 10px 0;
            width: 100%;
        }
        
    }
}

