nav{
    position: fixed;
    background-color: $color-lighter;
    width: 100%;
    z-index: 10;

    .nav-container {
        display: flex;
        justify-content: start;
        align-items: center;
        
        .txt-logo {
            width: 95px;
            height: auto;
            padding: 5px 24px 5px 0 ;
            
        }

        #hamburger {
            display: none; 
        }

        .menu {
            .menu-item {
                list-style: none;
                display: inline-block;
                padding: 20px  24px;
            }
            
        }
    }

};


    @media screen and (max-width: 772px) {
        nav {
            .nav-container {
                justify-content: space-between;

                #hamburger {
                    display: block;
        
                    .line {
                        height: 5px;
                        width: 35px;
                        background-color: $base-bg-color;
                        margin-bottom: 5px;
                    }
            }
        }
    } 

    .menu {
        display: none;
    }
}