* {
    box-sizing: border-box;
}

html {
    background-color: $base-bg-color;
}

.container {
    max-width: 1400px;
    margin: auto;
    position: relative;
}

.container_flex {
    display: flex;
    flex-wrap: wrap;
}

a {
    &:focus {
        outline: none;
    }
}

#body {
    padding: 50px 0;
}

.flex_item_body {
    flex-basis: 20%;
}

.flex_item_body_middle {
    flex-basis: 60%;
}
