* {
    box-sizing: border-box;
}

html {
    background-color: $base-bg-color;
    transition: all 0.45s;
    scroll-behavior: smooth;
}

.black {
    background-color: $base-text-color;
}

.container {
    max-width: 1400px;
    margin: auto;
    position: relative;
}

.container_flex {
    display: flex;
    flex-wrap: wrap-reverse;
}

a {
    &:focus {
        outline: none;
    }
}

@media screen and (max-width: 1480px) {
    .container {
        padding: 0 50px;
    }

    #body {
        display: none;
        padding: 50px 50px;
    }

    .flex_item_body { 
        flex-wrap: wrap-reverse;
    }

    .flex_item_body_middle {
        flex-basis: 100%;
        order: 1;
    }
}


@media screen and (max-width: 880px) {

    // html {
    //     background-color: $base-text-color;
    // }

    .container {
        padding: 0;
    }

    section {
        opacity: 1;
    }

    #body {
        display: block;
        padding: 50px 0;
    }
}

