* {
    box-sizing: border-box;
    font-family: $font-lat;
}

html {
    transition: all 0.45s;
    scroll-behavior: smooth;
}

.container {
    max-width: 1400px;
    margin: auto;
    position: relative;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    
    &:focus {
        outline: none;
    }
}

.name {
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: $base-size*3;
    color: $white;
}

@media screen and (max-width: 1450px) {
    .container {
        width: 100%;
        padding: 0;
    }
}
