article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section_header {
  text-align: center;
  margin-bottom: 40px;
}

#service,
#blog,
#contact {
  padding: 60px 0;
}

.logo {
  height: 73px;
}

[class*="btn-"] {
  -webkit-transition: all .35s;
  transition: all .35s;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #473452;
  font-weight: 700;
  font-size: 16px -1;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
}

input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
}

input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
}

input:-moz-placeholder,
select:-moz-placeholder,
textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
}

nav {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index: 10;
}

nav .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-container .txt-logo {
  width: 95px;
  height: auto;
  padding: 5px 24px 5px 0;
}

nav .nav-container #hamburger {
  display: none;
}

nav .nav-container .menu .menu-item {
  list-style: none;
  display: inline-block;
  padding: 20px  24px;
}

@media screen and (max-width: 772px) {
  nav .nav-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .nav-container #hamburger {
    display: block;
  }
  nav .nav-container #hamburger .line {
    height: 5px;
    width: 35px;
    background-color: #1ba4ce;
    margin-bottom: 5px;
  }
  .menu {
    display: none;
  }
}

header {
  position: relative;
}

header .bg-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 20;
}

header .bg-image-second {
  position: absolute;
  top: 200px;
  left: -40px;
  height: 70%;
  z-index: -10;
}

header .container {
  padding-top: 200px;
}

header .container h1 {
  font-family: "Bellota", cursive;
  font-size: 50px;
  color: #1e2528;
}

header .container h3 {
  font-family: "Bellota", cursive;
  font-size: 16px;
  color: #473452;
  text-transform: uppercase;
}

header .container p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (max-width: 1600px) {
  header .bg-image {
    display: none;
  }
  header .bg-image-second {
    height: 40%;
  }
}

@media screen and (max-width: 996px) {
  header .bg-image-second {
    height: 15%;
    left: -5px;
    top: 280px;
  }
}

@media screen and (max-width: 480px) {
  header .container .play {
    font-size: 30px;
  }
  header .container .play_invite {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: #888;
    font-weight: 300;
    line-height: 1.5;
  }
}

#about {
  text-align: center;
  padding: 100px 0;
}

#about h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #473452;
  font-weight: 400;
  text-transform: uppercase;
}

#about h2 {
  font-family: "Bellota", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 42px;
  padding: 30px 0;
}

#about p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 50px;
}

@media screen and (max-width: 992px) {
  #about h2 {
    font-family: "Bellota", cursive;
    font-weight: 700;
    text-align: center;
    font-size: 33px;
  }
  #about p {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #888;
    font-weight: 300;
    line-height: 1.5;
  }
}

#feature .feature_item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 400px;
  text-transform: capitalize;
  position: relative;
}

#feature .feature_item .feature_bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#feature .feature_item .feature_heading {
  font-family: "Bellota", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 22px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1ba4ce;
  color: #ffffff;
  opacity: 0;
}

#feature .feature_item .feature_heading:hover {
  opacity: 0.8;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#feature .feature_item img {
  width: 60px;
  height: auto;
}

@media screen and (max-width: 1080px) {
  #feature .container_flex .feature_item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 772px) {
  #feature .container_flex .feature_item {
    height: 400px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  #feature .container_flex .feature_item {
    height: 200px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 10px;
  }
}

#service .section_header h2 {
  font-family: "Bellota", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 42px;
  padding: 30px 0;
}

#service .section_header p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 50px;
}

#service .box {
  padding: 0 10px;
  margin-top: 30px;
  text-align: center;
  width: 33.33%;
}

#service .box .service_item {
  border: 1px solid #e2e5ea;
  padding: 25px;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#service .box img {
  width: 100%;
}

#service .box h3 {
  font-family: "Bellota", cursive;
  font-size: 22px;
  color: #473452;
}

#service .box p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 20px;
}

#service .box .service_item:hover {
  -webkit-box-shadow: 0 5px 20px #f0f0f0;
          box-shadow: 0 5px 20px #f0f0f0;
}

#service .box .service_item:hover .btn-read-more {
  background-color: #1ba4ce;
}

@media screen and (max-width: 768px) {
  #service .section_header p {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #888;
    font-weight: 300;
    line-height: 1.5;
  }
  #service .box {
    padding: 10px 0;
    width: 100%;
  }
}

#team {
  padding-bottom: 120px;
}

#team .section_header h2 {
  font-family: "Bellota", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 42px;
  padding: 30px 0;
}

#team .section_header p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 50px;
  color: #888;
}

#team .box {
  padding: 0 10px;
  margin-top: 30px;
  text-align: center;
  width: 33.33%;
  position: relative;
}

#team .box img {
  width: 100%;
}

#team .box .person_card {
  position: absolute;
  text-align: center;
  background-color: #ffffff;
  left: 0;
  right: 0;
  width: 80%;
  bottom: -80px;
  z-index: 5;
  margin: auto;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#team .box .person_card:hover {
  -webkit-box-shadow: 0 5px 20px #f0f0f0;
          box-shadow: 0 5px 20px #f0f0f0;
  padding-bottom: 30px;
}

#team .box .person_card:hover .social_icons {
  height: 35px;
}

#team .box .person_card h3 {
  font-family: "Bellota", cursive;
  font-size: 22px;
  color: #473452;
  padding-top: 20px;
}

#team .box .person_card p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
}

#team .box .social_icons {
  -webkit-transition: all .35s;
  transition: all .35s;
  height: 0;
  overflow: hidden;
}

#team .box .social_icons a {
  height: 35px;
  width: 35px;
  font-size: 20px;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  border: 1px solid #473452;
  color: #473452;
  border-radius: 50%;
  margin: 0 10px 10px 10px;
}

#team .box .social_icons a:hover {
  border: 1px solid #1ba4ce;
  color: #ffffff;
  background-color: #1ba4ce;
  -webkit-box-shadow: 0 5px 20px #f0f0f0;
          box-shadow: 0 5px 20px #f0f0f0;
}

@media screen and (max-width: 768px) {
  #team .box {
    width: 100%;
    margin-bottom: 75px;
  }
}

#reserve .reserve_item_image {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

#reserve img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 960px) {
  #reserve .reserve_item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #reserve img {
    display: none;
  }
}

#blog .section_header h2 {
  font-family: "Bellota", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 42px;
  padding: 30px 0;
}

#blog .section_header p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 50px;
}

#blog .box {
  padding: 0 10px;
  margin-top: 30px;
  text-align: center;
  width: 33.33%;
}

#blog .box .article {
  border: 1px solid #e2e5ea;
  padding: 25px;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#blog .box img {
  width: 100%;
}

#blog .box h3 {
  font-family: "Bellota", cursive;
  font-size: 22px;
  color: #473452;
}

#blog .box p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 20px;
  color: #888;
}

#blog .box .article:hover {
  -webkit-box-shadow: 0 5px 20px #f0f0f0;
          box-shadow: 0 5px 20px #f0f0f0;
}

#blog .box .article:hover .btn-read-more {
  background-color: #1ba4ce;
}

@media screen and (max-width: 768px) {
  #blog .section_header p {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #888;
    font-weight: 300;
    line-height: 1.5;
  }
  #blog .box {
    padding: 10px 0;
    width: 100%;
  }
}

#contact {
  background-color: #1ba4ce;
}

#contact .section_header h2 {
  font-family: "Bellota", cursive;
  font-weight: 700;
  text-align: center;
  font-size: 42px;
  padding: 30px 0;
  color: #ffffff;
}

#contact .section_header p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #888;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 50px;
  color: #ffffff;
}

#contact .container_flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contact .container_flex .adress_information {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

#contact .container_flex .adress_information .adress {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  line-height: 1.5;
}

#contact .container_flex .adress_information .adress img {
  max-width: 22px;
  margin-right: 35px;
}

#contact .container_flex .form_newsletter {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

@media screen and (max-width: 768px) {
  #contact .container_flex .adress_information {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #contact .container_flex .adress_information .adress {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contact .container_flex .adress_information .adress img {
    max-width: 50px;
    margin-right: 35px;
  }
  #contact .container_flex .form_newsletter {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

footer {
  padding: 60px 0;
  text-align: center;
}

footer .menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

footer .menu li {
  padding: 15px 10px;
}

.btn-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-header .btn-reserve {
  padding: 18px 30px;
  font-family: "Roboto", sans-serif;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1ba4ce;
  border-radius: 0;
  text-transform: capitalize;
}

.btn-reserve:hover {
  background-color: #473452;
}

#about .btn-read-more {
  padding: 20px 58px;
  font-family: "Roboto", sans-serif;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1ba4ce;
  border-radius: 60px;
}

#about .btn-read-more:hover {
  background-color: #473452;
}

.btn-read-more {
  padding: 16px 36px;
  font-family: "Roboto", sans-serif;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1e2528;
  border-radius: 60px;
  margin-top: 30px;
  margin-bottom: 40px;
}

#form_reserve .btn-form {
  padding: 16px 36px;
  font-family: "Roboto", sans-serif;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 60px;
  color: #1e2528;
  font-weight: 700;
  margin-top: 30px;
}

#form_reserve .btn-form:hover {
  padding: 16px 36px;
  font-family: "Roboto", sans-serif;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1e2528;
  border-radius: 60px;
  color: #ffffff;
}

#contact .btn-form {
  padding: 20px 58px;
  font-family: "Roboto", sans-serif;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 60px;
  color: #1e2528;
  font-weight: 700;
  margin-top: 30px;
}

#contact .btn-form:hover {
  padding: 20px 58px;
  font-family: "Roboto", sans-serif;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1e2528;
  border-radius: 60px;
  color: #ffffff;
}

@media screen and (max-width: 772px) {
  #header .btn-reserve {
    text-transform: uppercase;
  }
  #about .btn-read-more {
    padding: 25px 70px;
    font-family: "Roboto", sans-serif;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1ba4ce;
    border-radius: 35px;
  }
}

@media screen and (max-width: 480px) {
  .btn-header .btn-reserve {
    padding: 15px 30px;
    font-family: "Roboto", sans-serif;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #1ba4ce;
    border-radius: 0;
  }
}

.reserve-icon {
  padding-left: 10px;
}

.play {
  font-size: 40px;
  color: #473452;
  padding: 0 5px 0 20px;
}

@media screen and (max-width: 480px) {
  header .container .btn-reserve .reserve-icon {
    display: none;
  }
}

#reserve form input,
#reserve form select,
#reserve form textarea, #contact form input,
#contact form textarea {
  width: 100%;
  background-color: #1ba4ce;
  display: inline-block;
  margin-bottom: 15px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  border: 0;
  border-bottom: 1px solid #ffffff;
  padding: 20px 0;
}

#reserve form {
  background-color: #1ba4ce;
  width: 60%;
  padding: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#reserve form input.error,
#reserve form select.error,
#reserve form textarea.error {
  border-bottom: 1px solid red;
}

#reserve form input,
#reserve form select {
  width: 49%;
}

#reserve form textarea {
  width: 100%;
  height: 100px;
}

#reserve form #uwaga1 {
  width: 100%;
  display: none;
}

#reserve form #uwaga1.error {
  color: #f00;
  display: inline;
}

#reserve form #uwaga1.send {
  color: #ffffff;
  display: inline;
}

#contact form {
  height: 100%;
}

#contact form textarea {
  height: 100px;
}

@media screen and (max-width: 768px) {
  #reserve form {
    width: 100%;
    padding: 80px 40px;
  }
  #reserve form input,
  #reserve form select,
  #reserve form textarea {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #contact form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-top: 60px;
  }
  #contact form input,
  #contact form textarea {
    border-bottom: none;
    border: 1px solid #ffffff;
  }
}

.hide_menu {
  display: none;
}

.hide_menu.open {
  display: block;
  position: fixed;
  right: 0;
  background-color: #1ba4ce;
  z-index: 30;
  width: 80%;
  -webkit-box-shadow: 0 5px 20px #424141;
          box-shadow: 0 5px 20px #424141;
}

.hide_menu.open .hide_list_menu {
  list-style: none;
  text-align: right;
  padding: 30px 40px;
}

.hide_menu.open .hide_list_menu li {
  padding: 0 0 40px 0;
}

.hide_menu.open .hide_list_menu i {
  font-size: 24px;
  color: #ffffff;
}

.hide_menu.open .hide_list_menu a {
  color: #ffffff;
  font-size: 32px;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */