// ---Typograpfy--- //

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Bellota', cursive;
$base-font-size: 16px;
$link-text-decoration: none;
$text-transorm-heading: uppercase;

//--- Colors---//

$base-bg-color: #1ba4ce;
$base-text-color: #473452;
$text-color-lighter: #888;
$color-darker: #1e2528;
$color-lighter: #ffffff

//--- Spasing ---//





