#main_header {
    
    padding: 160px 0;


    .header_content {
        position: relative;

        .heading_container {
            max-width: 63%;
            margin-left: auto;
    
            #main_heading {
                position: relative;
                font-size: $base-font-size * 7;
                text-align: left;
                margin-top: 0;
                font-family: $font-secondary;
                z-index: -20;
            }

        }
        
    
        .main_image {
            height: 600px;
            position: absolute;
            z-index: -10;
            top: 0;
            right: 0;

            img {
                width: 40%;
                display: block;
                margin: 0;
            }
    
            .circle {
                position: relative;
                right: 0;
            }
    
        }
    }
}