#main_header {
    padding: 160px 0;

    .background_header {
        position: absolute;
        z-index: -20;
        top: 0;
        opacity: 0.3;
    }
    .header_content {
        position: relative;

        .heading_container {
            max-width: 63%;
            margin-left: auto;
    
            #main_heading {
                position: relative;
                font-size: $base-font-size * 7;
                text-align: left;
                margin-top: 0;
                font-family: $font-secondary;
                z-index: -20;
            }

        }
        
    
        .main_image {
            height: 600px;
            position: absolute;
            z-index: -10;
            top: 0;
            

            img {
                width: 70%;
                display: block;
                margin: 0;
            }
    
            .circle {
                position: relative;
                right: 0;
            }
    
        }
    }
}


@media screen and (max-width: 1200px) {
    #main_header {

        .header_content {
            .heading_container {
                max-width: none;
                margin-left: auto;
        
                #main_heading {
                    position: relative;
                    font-size: $base-font-size * 5;
                    text-align: center;
                    margin-top: 0;
                    font-family: $font-secondary;
                    z-index: -20;
                }
    
            }
        }

        .main_image {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    #main_header {

        .header_content {
            .heading_container {

                #main_heading {
                    font-size: $base-font-size * 3;
                }
            }
        }
    }
}