#menu {
    
    background-color: #fff;

    .menu_heading {
        @include heading;
        text-align: center;
        color: #000;
    }

    h2 {
        @include heading;
        font-size: $base-font-size * 2;
        text-align: center;
        padding: 20px 0;
        color: #000;
    }

    h3 {
        @include heading;
        font-size: $base-font-size;
        font-family: $font-primary;
        font-weight: 600;
        text-align: center;
        color: #000;
    }

    p {
        font-family: $font-primary;
        font-weight: 300;
        text-align: center;
        color: #000;
    }

    img {
        position: absolute;
        width: auto;
        max-height: 35%;
        top: 0;
        
    }

    .ramen {
        max-height: 20%;
        right: 0;
    }

    .sushi_two {
        max-height: 20%;
        right: 0;
        top: 50%;
    }
    
}