#menu {
    
    background-color: #fff;
    overflow: hidden;

    .menu_heading {
        @include heading;
        text-align: center;
        color: #000;
    }

    h2 {
        @include heading;
        font-size: $base-font-size * 2;
        text-align: center;
        padding: 20px 0;
        color: #000;
    }

    h3 {
        @include heading;
        font-size: $base-font-size;
        font-family: $font-primary;
        font-weight: 600;
        text-align: center;
        color: #000;
    }

    p {
        font-family: $font-primary;
        font-weight: 300;
        text-align: center;
        color: #000;
    }

    .sakura {
        display: none;
    }

    img {
        position: absolute;
        width: auto;
        top: 0;
        
    }

    .maki {
        max-height: 35%;
    }

    .ramen {
        max-height: 20%;
        right: 0;
    }

    .sushi_two {
        max-height: 20%;
        right: 0;
        top: 50%;

    }

    .hide {
        transform: translateX(150%);
    }
    
}


@media screen and (max-width: 1600px) {
    #menu {

        .maki {
            max-height: 19%;
            top: 30%;
        }

        .ramen {
            max-height: 15%;
        }

        .sushi_two {
            max-height: 10%;
        }
    }
}

@media screen and (max-width: 1080px) {

    #menu {

        .sakura {
            display: block;
            max-height: 20%;
        }

        .maki, .ramen, .sushi_two {
            display: none;
        }

    }   

}