#navigation {
    position: fixed;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 30;

    .container_flex {
        justify-content: space-between;

        #logo {
            font-family: $font-secondary;
            text-transform: $text-transorm-heading;
        }
        .nav {
            justify-content: flex-end;
            list-style: none;
    
            li {
                padding: 20px 20px;
                font-family: $font-primary;
    
                button {
                    background-color: transparent;
                    border: none;
                    text-transform: $text-transorm-heading;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}