#navigation {
    position: fixed;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.8);
    z-index: 30;

    #hamburger {
        display: none;
    }

    .container_flex {
        justify-content: space-between;
        align-items: center;

        #logo {
            font-family: $font-secondary;
            text-transform: $text-transorm-heading;

            &:hover {
                cursor: pointer;
            }
        }
        .nav {
            justify-content: flex-end;
            list-style: none;
            margin: 0;
    
            li {
                padding: 20px 20px;
                font-family: $font-primary;
    
                button {
                    background-color: transparent;
                    border: none;
                    text-transform: $text-transorm-heading;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 890px) {

    #navigation {
        .container_flex {
            justify-content: space-around;

            #logo {
                font-size: $base-font-size + 10;
            }

            .nav {
                li {
                    padding: 20px 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #navigation {
        .container_flex {
            justify-content: space-around;
            
            #logo {
                font-size: $base-font-size + 10;
            }

            #hamburger {
                display: block;
                width: 50px;
            }

            .nav {
                display: none;
            }
        }
    }
}