@keyframes twist {
    0% {
      transform: rotate(0deg)
    }
  
    100% {
      transform: rotate(360deg)
    }
  }
  
  .twist {
    animation-name: twist;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }