@keyframes twist {
    0% {
      transform: rotate(0deg)
    }
  
    100% {
      transform: rotate(360deg)
    }
  }
  
  .twist {
    animation-name: twist;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes opacity {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .opacity {
    animation-name: opacity;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }