.opacity {
  animation-name: opacity;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes opacity {

    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .slideLeft{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;  
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
              
    100% {
        transform: translateX(0%);
    }
}
 
@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    
    100% {
        -webkit-transform: translateX(0%);
    }
}



@keyframes twist {

  100% {
    transform: rotate(360deg)
  }
}

.twist {
  animation-name: twist;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3s;
}


.slideRight{
  animation-name: slideRight;
  -webkit-animation-name: slideRight; 

  animation-duration: 2s; 
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-in-out; 
  -webkit-animation-timing-function: ease-in-out;     

  visibility: visible !important; 
}

@keyframes slideRight {
  0% {
      transform: translateX(-150%);
  }
            
  100% {
      transform: translateX(0%);
  }   
}

@-webkit-keyframes slideRight {
  0% {
      -webkit-transform: translateX(-150%);
  }
  
  100% {
      -webkit-transform: translateX(0%);
  }
}



@keyframes preloader {

  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader_rotate {
  animation: 3s linear 0s normal none infinite running preloader;
  -webkit-animation: 3s linear 0s normal none infinite running preloader;
  width: 100px;

}

