.hide_menu {
    display: none;
    

    &.open {
        display: block;
        position: fixed;
        background-color: rgba($color: #000000, $alpha: 0.9);
        z-index: 50;
        width: 100%;

        .hide_list_menu{
            list-style: none;
            text-align: right;
            padding: 30px 40px;
            text-align: center;

            li {
                padding: 0 0 20px 0;
            }

            .first {
                text-align: right;
            }

            i {
                    font-size: $base-font-size * 1.5;
                    color: #fff;
                }
        
            a {
                color: #fff;
                font-size: $base-font-size * 1.3;
                font-weight: 400;
                text-decoration: none;
                font-family: $font-secondary;
            }

        }


    }
}

