#projects {

    .project_display {
        margin-top: 70px;
        position: relative;
        transition: all .5s;

        &::before,
        &::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            border: 2px solid transparent;
            width: 0;
            height: 0;
        }

        &::before {
            top: 0;
            left: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }

    }

        .clicked::before,
        .clicked::after {
            z-index: -1;
            width: 100%;
            height: 100%;
        }

        .clicked::before {
            transition:  
            width 0.25s ease-out, 
            height 0.25s ease-out 0.25s;
        }

        .clicked::after {
            transition: 
            border-color 0s ease-out 0.5s,
            width 0.25s ease-out 0.5s,
            height 0.25s ease-out 0.75s;
        }

        .social_app_description::before {
            border-top-color: $second-text-color; 
            border-right-color: $second-text-color;
        }

        .social_app_description::after {
            border-bottom-color: $second-text-color;
            border-left-color: $second-text-color;
        }

        .landing_page_description::before {
            border-top-color: $third-text-color; 
            border-right-color: $third-text-color;
        }

        .landing_page_description::after {
            border-bottom-color: $third-text-color;
            border-left-color: $third-text-color;
        }

        .wether_app_description::before {
            border-top-color: $fourth-text-color; 
            border-right-color: $fourth-text-color;
        }

        .wether_app_description::after {
            border-bottom-color: $fourth-text-color;
            border-left-color: $fourth-text-color;
        }
}


@media screen and (max-width: 870px) {

    #projects {
        .project_display {
            
            &::before,
            &::after {
                display: none;
            }
        }
    }
}