#preloader {
    position: fixed;
    background-color: $base-bg-color;
    width: 100%;
    height: 100%;
    z-index: 50;
    
    .img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        width: 30%;

        img {
            position: relative;
            object-fit: cover;
            display: block;
            margin: auto;
        }

        p {
            @include p($base-text-color);
            color: #000;
            text-align: center;
        }
    }
}

.loaded_hiding #preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }

.loaded #preloader {
    display: none;
  }