footer {
    display: none;
    position: relative;
    padding: 20px 0;
  
    p {
        color: $base-text-color;
        font-family: $secondary-font;
        text-align: center;
        font-size: 10px;
    }

}

@media screen and (max-width: 880px) {
    footer {
        display: block;
        bottom: 10px;
        p {
            font-size: small;
        }
    }
}