header {

    .container_flex {
        justify-content: space-between;

        .flex_item_header {
            flex-basis: 50%;

            h1 {
                @include h1;
                padding-top: 30px;
            }
        
            p {
                @include p;
                max-width: 500px;
                text-align: justify;
                line-height: 1.7;

                .link {
                    color: $second-text-color;
                    font-family: $base-font;
                    font-weight: 300;
                    font-size: 13px;
                }
            }
        
            a {
                @include h1;
                font-size: 12px;
                text-decoration: none;
                
                &:hover {
                    border-bottom: 1px solid $base-text-color;
                }
            }

            ul.container_flex {
                justify-content: flex-end;
                list-style: none;

                li {
                    padding: 30px 20px;
                }
            }

        }
    }
    
    
}