#main_header {
    display: none;
}

@media screen and (max-width: 880px) {
    #main_header {
        position: relative;
        display: block;
        overflow: hidden;
        
        .heading {
            position: absolute;
            font-size: 100%;
            top: 50%;
            left: 50%;

            h1 {
                @include h1;
                text-align: center;
                
                font-size: 100%;
                
            }

            button {
                background-color: transparent;
                border: 1px solid $second-text-color;
                color: $second-text-color;
                display: block;
                margin-left: auto;
                font-family: $base-font;
                padding: 10px;

                &:focus {
                    outline: none;
                }
            }
        }

        img {
            position: relative;
            width: 120%;
            object-fit: cover;
            z-index: -1;
        }
    }
}