#projects {
    
    .header_projects {
        justify-content: space-around;
        padding: 20px 0;
        border: 1px solid $fifth-text-color;
        border-radius: 50px;
        transition: all .5s;

        button {
            @include h1;
            display: inline;
            padding: 0 55px;
            color: $fifth-text-color;
            text-decoration: none;
            background-color: transparent;
            border: 0;
            transition: all .5s;
        }

        button:focus {
            outline: none;
        }

        button:hover {
            cursor: pointer;
        }

        .social_app:hover,
        .social_app:focus  {
            color: $second-text-color;
        }

        .landing_page:hover,
        .landing_page:focus {
            color: $third-text-color;
        }

        .weather_app:hover,
        .weather_app:focus {
            color: $fourth-text-color;
        }

        .small_screen {
            display: none;
        }

        .small_screen + div {
            display: none;
        }
    }

    // .social_app {
    //     border: 1px solid $second-text-color;
    // }

    // .laning_page {
    //     border: 1px solid $third-text-color;
    // }

    // .wether_app {
    //     border: 1px solid $fourth-text-color;
    // }


    .project_display {

        h2 {
            @include h1;
            font-size: 100px;
            text-align: center;
            color: $fifth-text-color;
            transition: all 0.5s;
            margin: 0;
        }

        .panel {
            overflow: hidden;
            transition: transform 0.5s ease-out;
            height: auto;

            .description {
                padding: 0 20px 30px 20px;
                font-family: $secondary-font;
                color: white;
                text-align: center;
            }

            .example {
                @include p;
    
                padding-bottom: 20px;
            }
            
        }

    }

    .sources {
        text-align: center;
        padding: 0 0 20px 0;

        a {
            @include p;
            padding: 0 10px;
        }
    }

    
}


@media screen and (max-width: 880px) {
    #projects {

        .header_projects {

            border: none;
            flex-direction: column;
            justify-content: center;

            button {
                position: relative;
                left: 50%;
                transform: translate(-50%, 0);
                padding: 20px 0;


                &::before {
                    box-sizing: inherit;
                    content: '';
                    position: absolute;
                    border: 2px solid transparent;
                    width: 0;
                    height: 0;
                    bottom: 0;
                    right: 0;
                    transition: all .75s;
                    z-index: -1;
                }

                &:hover::before {
                    width: 100%;
                    height: 100%;
                    background-color: $second-text-color;
                }

               

                
            }

            .social_app:hover,
                .social_app:focus,
                .landing_page:hover,
                .landing_page:focus,
                .weather_app:hover,
                .weather_app:focus {
                  color: $base-text-color;
                }

            .body_flex_item_small_screen {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }

            // .social_app:hover,
            // .social_app:focus  {
            //     background-color: $second-text-color;
            //     color: $base-text-color;
            // }

            // .landing_page:hover,
            // .landing_page:focus {
            //     background-color: $third-text-color;
            //     color: $base-text-color;
            // }

            // .weather_app:hover,
            // .weather_app:focus {
            //     background-color: $fourth-text-color;
            //     color: $base-text-color;
            // }

            

            .small_screen {
                @include p;
                display: block;
                max-width: 500px;
                text-align: justify;
                line-height: 1.7;
                font-size: 13px;
                margin: auto;
                padding: 20px 20px;
                transform: scaleY(1);
            }

            .small_screen_open {
                display: block;
                transform: scaleY(1);
            }

            .small_screen + div {
                display: block;
            }
        }

        .project_display {
            display: none;
        }
        

    }
}
