#projects {
    display: none;

    & .project:first-child {
        margin-bottom: 100px;
    }

    .project {
        padding: 200px 0 0 0;
        position: relative;

        h2 {
            font-family: $secondary-font;
            font-size: 250px;
            width: 100%;
            position: absolute;
            top: -210px;
            left: -1620px;
            text-align: center;
            color: $third-text-color;
            transition: all 1s;
        }

        .active {
            left: 0;
        }

        .color_dark {
            color: $fifth-text-color;
        }

        .color_light {
            color: $base-bg-color;
        }

        .container_flex {
            flex-direction: row;
            align-items: center;
            .flex_item {
                flex-basis: 70%;
    
                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
    
            .description {
                flex-basis: 25%;
                padding: 20px;
    
                p {
                    @include p($base-text-color);
                    text-align: justify;
                    line-height: 1.5;
                    max-width: 700px;
                    display: block;
                    margin: auto;
                }

                .sources {
                    margin-top: 20px; 

                    a {
                        color: $base-text-color;
                        text-decoration: none;
                        font-family: $base-font;
                        padding: 10px;
                        margin-top: 20px;
                        position: relative;
                        transition: all .35s;
    
                        &::before {
                            box-sizing: inherit;
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: $second-text-color;
                            width: 0;
                            height: 100%;
                            z-index: -1;
                            transition: all .35s;
                        }
                        
                        &:hover {
                            
    
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1260px) {
    #projects {
        padding: 100px 0;
        .project {

            h2 {
                font-size: 150px;
                top: -150px;
            }
        }
    }
}

@media screen and (max-width: 880px) {
    #projects {
        display: block;
        opacity: 1;
        padding-top: 150px;

        & .project:first-child {
            margin-bottom: 180px;
        }

        .project {
            padding: 30px 0;

            h2 {
                font-size: 70px;
            }

            .container_flex {
                flex-wrap: wrap;
                .flex_item {
                    flex-basis: 100%;

                    img {
                        max-width: 700px;
                        display: block;
                        margin: auto;
                    }
                }

                .description {
                    p {
                        text-align: justify;
                        padding: 30px;
                    }

                    .sources {
                        text-align: center;

                        a {
                            background-color: rgba($color: $second-text-color, $alpha: 0.4);
                        }
                    }
                }
                    
            }
        }
    }
}