#skills {

    h2 {
        @include h1;
        text-align: right;
    }

    p {
        @include p;
        max-width: 200px;
        text-align: right;
        line-height: 1.7;
    }
}

@media screen and (max-width: 1480px) {
    #skills.flex_item_body {
        flex-basis: 100%;

        p, h2 {
            text-align: center;
            max-width: none;
        }

        h2 {
            padding-top: 50px;
        }
    }
}

@media screen and (max-width: 880px) {
    #skills {
        padding-bottom: 40px;

        p {
            font-size: 13px;
        }
    }
}