#contact {
    padding: 100px;
    .container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: center;

        header {
            width: 45%;
            h1, p {
                font-family: $font-cyr;
                text-align: center;
                padding: 0 50px;
            }
        }
    }
}