footer {
    .container {
            p {
                text-align: center;
                a {
                    text-transform: lowercase;
                    text-decoration: none;
                    color: black;
                    padding: 20px;
                }
            }
    }
}

@media screen and (max-width: 840px) {
    footer {
        .container {
            padding: 0 0 10px 0;
            p, a {
                font-size: $base-size;
                display: block;
            }

            p {
                a {
                    padding: 0;
                }
            }
        }
    }
}