footer {
    .container {
            p {
                text-align: center;
                a {
                    text-transform: lowercase;
                    text-decoration: none;
                    color: black;
                    padding: 20px;
                }
            }
    }
}