#portfolio {

    .container {
        max-width: 100%;
        margin: auto;
        padding: 0;
        .row {
            margin: 20px 0;
            transition: all .5s;
            .col-12 {
                position: relative;
                height: 700px;
                overflow: hidden;
                padding: 0;
                
                img {
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                    transition: all .5s;

                    &:nth-child(2) {
                        z-index: 10;
                        opacity: 1;
                    }

                    &:hover, &:active {
                        cursor: pointer;

                        &:nth-child(2) {
                            opacity: 0;
                        }
                    }
                }

            }
        }
    }

    #video {
        padding: 100px 0 0 0;
        position: relative;
        display: flex;
        flex-direction: column;
        

        h2 {
            font-family: $font-cyr;
            text-transform: uppercase;
            text-align: center;
            padding: 30px;
        }

        video {
            margin: auto;
            padding: 30px;
            width: 40%;
        }
     
    }
}

@media screen and (max-width: 970px) {
    #portfolio {
        #video {
            
            video {
                padding: 0;
                margin: 30px auto;
                width: 80%;
            }
        }
    }

}

@media screen and (max-width: 540px) {
    #portfolio {
        .container {
            .row {
                margin: 0;
                .col-12 {
                    height: 400px;
                    margin: 3px 0;
                }
            }
        }
    }
}