* {
    box-sizing: border-box;
    color: #ffffff;
}

html {
    background-color: #000000;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    
}

.container_flex {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding: 60px 0;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 30px;
    font-family: $font-secondary;
    font-weight: 600;
    text-transform: $text-transorm-heading;
    transition: all 0.35s;

    &:focus {
        outline: none;
    }
}

input,
select,
textarea {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        
        color: #000000;
        background-color: transparent;
    }

    &::-webkit-option-placeholder {
        color: #000;
        background-color: transparent;
    }


    &::-moz-placeholder { /* Firefox 19+ */
       
        color: #000000;
        background-color: transparent;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        
        color: #000000;
        background-color: transparent;
    }

    &:-moz-placeholder { /* Firefox 18- */
        
        color: #000000;
        background-color: transparent;
    }
}

option {
    color: black;
  }