.btn-header {
    display: flex;
    align-items: center;
    .btn-reserve {
        @include btn(18px 30px, $base-bg-color, 0);
        text-transform: capitalize;
       
    }
}

.btn-reserve:hover {
    background-color: $base-text-color;
}

#about {
    .btn-read-more {
        @include btn(20px 58px, $base-bg-color, 60px);
        
    }
    
    .btn-read-more:hover {
        background-color: $base-text-color;
    }
}

    .btn-read-more {
        @include btn(16px 36px, $color-darker, 60px);
        margin-top: 30px;
        margin-bottom: 40px;
        
    }


#form_reserve {
    .btn-form {
        @include btn(16px 36px, $color-lighter, 60px);
        color: $color-darker;
        font-weight: 700;
        margin-top: 30px;
        

        &:hover{
            @include btn(16px 36px, $color-darker, 60px);
            color: $color-lighter;
            }
    }
}

#contact {
    .btn-form {
        @include btn(20px 58px, $color-lighter, 60px);
        color: $color-darker;
        font-weight: 700;
        margin-top: 30px;
        

        &:hover{
            @include btn(20px 58px, $color-darker, 60px);
            color: $color-lighter;
            }
    }
}



@media screen and (max-width: 772px) {
    #header {
        .btn-reserve {
            text-transform: uppercase;
        }
    }
    #about {
        .btn-read-more {
            @include btn(25px 70px, $base-bg-color, 35px);
            
        }
    }
}

@media screen and (max-width: 480px) {
    .btn-header {
        .btn-reserve {
            @include btn(15px 30px, $base-bg-color, 0);
            
        }
    }
    
}