article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #0c0c0c;
}

section {
  opacity: 0;
}

.container {
  max-width: 1400px;
  margin: auto;
  position: relative;
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

a:focus {
  outline: none;
}

#body {
  display: none;
  padding: 50px 0;
}

.flex_item_body {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.flex_item_body_middle {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

@media screen and (max-width: 1480px) {
  .container {
    padding: 0 50px;
  }
  #body {
    display: none;
    padding: 50px 50px;
  }
  .flex_item_body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .flex_item_body_middle {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 870px) {
  .container {
    padding: 0;
  }
  section {
    opacity: 1;
  }
  #body {
    display: block;
    padding: 50px 0;
  }
}

.header_full_screen button {
  background-color: #7BDCFE;
  border: 1px solid #7BDCFE;
  color: #FFFFFF;
  display: block;
  margin-left: auto;
  font-family: "Inconsolata", monospace;
  padding: 10px;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.header_full_screen button:focus {
  outline: none;
}

.header_full_screen button:hover {
  background-color: #4A4A4A;
  border: 1px solid #4A4A4A;
}

#main_header {
  display: none;
}

.header_full_screen {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header_full_screen .black_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header_full_screen img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header_full_screen header {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transition: all .6s ease-in;
  transition: all .6s ease-in;
}

.header_full_screen header h1 {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 25px;
  font-size: 40px;
  margin: 0;
}

.header_full_screen header h2 {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 25px;
  color: #4A4A4A;
  font-size: 16px;
}

.header_full_screen button {
  position: absolute;
  top: 50%;
  left: 70%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 1670px) {
  .header_full_screen button {
    top: 60%;
    left: 10%;
  }
}

@media screen and (max-width: 880px) {
  .header_full_screen {
    display: none;
  }
  #main_header {
    position: relative;
    display: block;
    overflow: hidden;
  }
  #main_header .heading {
    position: absolute;
    font-size: 100%;
    top: 50%;
    left: 50%;
  }
  #main_header .heading h1 {
    color: #FFFFFF;
    font-family: "Inconsolata", monospace;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    font-size: 100%;
  }
  #main_header .heading button {
    background-color: transparent;
    border: 1px solid #7BDCFE;
    color: #7BDCFE;
    display: block;
    margin-left: auto;
    font-family: "Inconsolata", monospace;
    padding: 10px;
  }
  #main_header .heading button:focus {
    outline: none;
  }
  #main_header img {
    position: relative;
    width: 120%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }
}

#about {
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#about .container_flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#about .container_flex .flex_item_header {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#about .container_flex .flex_item_header h1 {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 25px;
  padding-top: 30px;
  text-align: right;
}

#about .container_flex .flex_item_header p {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 12px;
  max-width: 500px;
  text-align: justify;
  line-height: 1.7;
  margin-left: auto;
}

#about .container_flex .flex_item_header p .link {
  color: #7BDCFE;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 13px;
}

#about .container_flex .flex_item_header button {
  background-color: #7BDCFE;
  border: 1px solid #7BDCFE;
  color: #FFFFFF;
  display: block;
  margin-left: auto;
  font-family: "Inconsolata", monospace;
  padding: 10px 20px;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#about .container_flex .flex_item_header button:focus {
  outline: none;
}

#about .container_flex .flex_item_header button:hover {
  background-color: #4A4A4A;
  border: 1px solid #4A4A4A;
}

#about .container_flex .flex_item_header a {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 25px;
  font-size: 12px;
  text-decoration: none;
}

#about .container_flex .flex_item_header a:hover {
  border-bottom: 1px solid #FFFFFF;
}

#about .container_flex .flex_item_header ul.container_flex {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding-left: 0;
}

#about .container_flex .flex_item_header ul.container_flex li {
  padding: 30px 20px;
}

@media screen and (max-width: 1680px) {
  #about .container_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #about .container_flex .flex_item_header {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  #about .container_flex .flex_item_header h1 {
    text-align: left;
  }
  #about .container_flex .flex_item_header p {
    margin-left: 0;
  }
  #about .container_flex .flex_item_header button {
    margin-left: 0;
    margin-top: 20px;
  }
  #about .container_flex .flex_item_header ul.container_flex li {
    padding: 30px 20px 30px 0;
  }
}

@media screen and (max-width: 880px) {
  #about {
    padding: 0 20px;
    opacity: 1;
  }
  #about .container_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #about .container_flex .flex_item_header {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #about .container_flex .flex_item_header h1 {
    text-align: center;
  }
  #about .container_flex .flex_item_header p {
    font-size: 13px;
    margin: auto;
    display: block;
  }
  #about .container_flex .flex_item_header a {
    font-size: 13px;
  }
  #about .container_flex .flex_item_header button {
    display: none;
  }
  #about .container_flex .flex_item_header ul.container_flex {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#projects .header_projects {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  border: 1px solid #4A4A4A;
  border-radius: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#projects .header_projects button {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 25px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: inline;
  padding: 0 55px;
  color: #4A4A4A;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#projects .header_projects button:focus {
  outline: none;
}

#projects .header_projects button:hover {
  cursor: pointer;
}

#projects .header_projects .social_app:hover,
#projects .header_projects .social_app:focus {
  color: #7BDCFE;
}

#projects .header_projects .landing_page:hover,
#projects .header_projects .landing_page:focus {
  color: #FFE799;
}

#projects .header_projects .weather_app:hover,
#projects .header_projects .weather_app:focus {
  color: #FFB496;
}

#projects .header_projects .small_screen {
  display: none;
}

#projects .header_projects .small_screen + div {
  display: none;
}

#projects .social_app {
  border: 1px solid #7BDCFE;
}

#projects .landing_page {
  border: 1px solid #FFE799;
}

#projects .weather_app {
  border: 1px solid #FFB496;
}

#projects .header_projects_small_screen {
  display: none;
}

#projects .header_projects_small_screen h2 {
  display: none;
}

#projects .project_display h2 {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 25px;
  font-size: 130px;
  text-align: center;
  color: #4A4A4A;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
}

#projects .project_display .panel {
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  height: auto;
}

#projects .project_display .panel .description {
  padding: 0 20px 30px 20px;
  font-family: "Quicksand", sans-serif;
  color: #FFFFFF;
  text-align: center;
}

#projects .project_display .panel .example {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 12px;
  padding-bottom: 20px;
}

#projects .sources {
  text-align: center;
  padding: 0 0 20px 0;
}

#projects .sources a {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 12px;
  padding: 0 10px;
}

@media screen and (max-width: 880px) {
  #projects .header_projects {
    display: none;
  }
  #projects .header_projects_small_screen {
    display: block;
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .header_projects_small_screen h2 {
    color: #FFFFFF;
    font-family: "Inconsolata", monospace;
    font-weight: 300;
    font-size: 25px;
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }
  #projects .header_projects_small_screen button {
    color: #FFFFFF;
    font-family: "Inconsolata", monospace;
    font-weight: 300;
    font-size: 25px;
    font-size: 18px;
    padding: 0 55px;
    color: #4A4A4A;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    padding: 20px 0;
    background-color: transparent;
    border: 0;
    width: 100%;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  #projects .header_projects_small_screen button::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    content: '';
    position: absolute;
    border: 2px solid transparent;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: all .75s;
    transition: all .75s;
    z-index: -1;
  }
  #projects .header_projects_small_screen button:hover::before {
    width: 100%;
    height: 100%;
    background-color: #7BDCFE;
  }
  #projects .header_projects_small_screen button:focus {
    outline: none;
  }
  #projects .header_projects_small_screen .social_app:hover,
  #projects .header_projects_small_screen .social_app:focus,
  #projects .header_projects_small_screen .landing_page:hover,
  #projects .header_projects_small_screen .landing_page:focus,
  #projects .header_projects_small_screen .weather_app:hover,
  #projects .header_projects_small_screen .weather_app:focus {
    color: #FFFFFF;
    background-color: #7BDCFE;
  }
  #projects .header_projects_small_screen .body_flex_item_small_screen {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.35s ease-out;
    transition: max-height 0.35s ease-out;
  }
  #projects .header_projects_small_screen .small_screen {
    color: #FFFFFF;
    font-family: "Inconsolata", monospace;
    font-weight: 300;
    font-size: 12px;
    display: block;
    max-width: 500px;
    text-align: justify;
    line-height: 1.7;
    font-size: 13px;
    margin: auto;
    padding: 20px 20px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  #projects .header_projects_small_screen .small_screen_open {
    display: block;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  #projects .header_projects_small_screen .small_screen + div {
    display: block;
  }
  #projects .project_display {
    display: none;
  }
}

#skills h2 {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 25px;
  text-align: right;
}

#skills p {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 12px;
  max-width: 200px;
  text-align: right;
  display: block;
  margin-left: auto;
  line-height: 1.7;
}

@media screen and (max-width: 1480px) {
  #skills.flex_item_body {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #skills.flex_item_body p, #skills.flex_item_body h2 {
    text-align: center;
    max-width: none;
  }
  #skills.flex_item_body h2 {
    padding-top: 50px;
  }
}

@media screen and (max-width: 880px) {
  #skills {
    padding-bottom: 40px;
  }
  #skills p {
    font-size: 13px;
  }
}

#contact h2 {
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 25px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1480px) {
  #contact {
    padding-top: 50px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #contact h2 {
    text-align: center;
  }
}

@media screen and (max-width: 870px) {
  #contact {
    padding: 20px 0;
    background-color: #FFFFFF;
  }
  #contact h2 {
    color: #4A4A4A;
    font-weight: 500;
  }
}

footer {
  display: none;
  position: relative;
}

footer p {
  color: #FFFFFF;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 10px;
}

@media screen and (max-width: 880px) {
  footer {
    display: block;
    bottom: 10px;
  }
  footer p {
    font-size: small;
  }
}

#contact form {
  position: relative;
}

#contact form input, #contact form textarea {
  display: block;
  margin: 10px 0;
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: "Inconsolata", monospace;
  font-size: 12px;
}

#contact form input.error, #contact form textarea.error {
  border: 1px solid red;
}

#contact form input:focus, #contact form textarea:focus {
  outline: none;
}

#contact form input::-webkit-input-placeholder, #contact form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FFFFFF;
  font-size: 12px;
}

#contact form input::-moz-placeholder, #contact form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFFFFF;
  font-size: 12px;
}

#contact form input:-ms-input-placeholder, #contact form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #FFFFFF;
  font-size: 12px;
}

#contact form input:-moz-placeholder, #contact form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #FFFFFF;
  font-size: 12px;
}

#contact form textarea {
  height: 100px;
}

#contact form button {
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  padding: 10px 15px;
  font-weight: bold;
}

#contact form #error_msg {
  color: red;
  font-size: 12px;
  font-family: "Inconsolata", monospace;
}

@media screen and (max-width: 1480px) {
  #contact form input, #contact form textarea {
    margin: auto;
  }
  #contact form input, #contact form textarea {
    margin-bottom: 20px;
    padding: 10px 15px;
    padding-right: 150px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-family: "Inconsolata", monospace;
    font-size: 12px;
  }
  #contact form button {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    margin-top: 20px;
  }
  #contact form #error_msg {
    text-align: center;
  }
}

@media screen and (max-width: 870px) {
  #contact form input, #contact form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4A4A4A;
    color: #4A4A4A;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
  }
  #contact form input.error, #contact form textarea.error {
    border: none;
    border-bottom: 1px solid red;
  }
  #contact form input::-webkit-input-placeholder, #contact form textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 0.3em;
  }
  #contact form input::-moz-placeholder, #contact form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 0.3em;
  }
  #contact form input:-ms-input-placeholder, #contact form textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 0.3em;
  }
  #contact form input:-moz-placeholder, #contact form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 0.3em;
  }
  #contact form button {
    background-color: #4A4A4A;
    color: #FFFFFF;
  }
  #contact form button:focus {
    outline: none;
  }
  #contact form #error_msg {
    text-align: center;
  }
}

hr {
  width: 100px;
  margin-top: 50px;
  border: 1px solid #4A4A4A;
  -webkit-transition: all .5s;
  transition: all .5s;
}

hr:nth-child(1) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

hr:nth-child(2) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

@media screen and (max-width: 880px) {
  hr {
    display: none;
  }
}

#projects .project_display {
  margin-top: 44px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#projects .project_display::before, #projects .project_display::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

#projects .project_display::before {
  top: 0;
  left: 0;
}

#projects .project_display::after {
  bottom: 0;
  right: 0;
}

#projects .clicked::before,
#projects .clicked::after {
  z-index: -1;
  width: 100%;
  height: 100%;
}

#projects .clicked::before {
  -webkit-transition: width 0.25s ease-out,  height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out,  height 0.25s ease-out 0.25s;
}

#projects .clicked::after {
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

#projects .social_app_description::before {
  border-top-color: #7BDCFE;
  border-right-color: #7BDCFE;
}

#projects .social_app_description::after {
  border-bottom-color: #7BDCFE;
  border-left-color: #7BDCFE;
}

#projects .landing_page_description::before {
  border-top-color: #FFE799;
  border-right-color: #FFE799;
}

#projects .landing_page_description::after {
  border-bottom-color: #FFE799;
  border-left-color: #FFE799;
}

#projects .wether_app_description::before {
  border-top-color: #FFB496;
  border-right-color: #FFB496;
}

#projects .wether_app_description::after {
  border-bottom-color: #FFB496;
  border-left-color: #FFB496;
}

@media screen and (max-width: 870px) {
  #projects .project_display::before, #projects .project_display::after {
    display: none;
  }
  #projects .clicked::before,
  #projects .clicked::after {
    display: none;
  }
  #projects .social_app_description::before,
  #projects .social_app_description::after,
  #projects .landing_page_description::before,
  #projects .landing_page_description::after,
  #projects .wether_app_description::before,
  #projects .wether_app_description::after {
    display: none;
  }
}

@-webkit-keyframes showText {
  0%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes showText {
  0%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@-webkit-keyframes showTextTwice {
  0%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes showTextTwice {
  0%, 100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.change_text {
  -webkit-animation-name: showText;
          animation-name: showText;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.change_text_twice {
  -webkit-animation-name: showTextTwice;
          animation-name: showTextTwice;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.project_display .close {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.project_display .active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
/*# sourceMappingURL=style.css.map */