article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body > div {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
}

html {
  background-color: #f3f3f3;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  scroll-behavior: smooth;
}

.black {
  background-color: #131212;
}

.container {
  max-width: 1400px;
  margin: auto;
  position: relative;
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

a:focus {
  outline: none;
}

@media screen and (max-width: 1480px) {
  .container {
    padding: 0 50px;
  }
  #body {
    display: none;
    padding: 50px 50px;
  }
  .flex_item_body {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .flex_item_body_middle {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 880px) {
  .container {
    padding: 0;
  }
  section {
    opacity: 1;
  }
  #body {
    display: block;
    padding: 50px 0;
  }
}

#main_header {
  display: none;
}

.header_full_screen {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header_full_screen img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.header_full_screen .container_flex {
  position: absolute;
  top: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.header_full_screen .container_flex header h1 {
  color: #f3f3f3;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 25px;
  font-size: 40px;
  margin: 0;
}

.header_full_screen .container_flex header h2 {
  color: #f3f3f3;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #4A4A4A;
  font-size: 16px;
}

.header_full_screen .container_flex a {
  border-left: 1px solid #7BDCFE;
  color: #131212;
  font-family: "Inconsolata", monospace;
  padding: 15px;
  text-decoration: none;
  -webkit-transition: all .35s;
  transition: all .35s;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
  z-index: 10;
}

.header_full_screen .container_flex a:focus {
  outline: none;
}

.header_full_screen .container_flex a::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7BDCFE;
  z-index: -1;
  width: 0;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header_full_screen .container_flex a:hover::before {
  width: 100%;
}

@media screen and (max-width: 1670px) {
  .header_full_screen .container_flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header_full_screen .container_flex header {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
  .header_full_screen .container_flex a {
    border-left: 1px solid #7BDCFE;
    color: #f3f3f3;
    font-family: "Inconsolata", monospace;
    padding: 15px;
    text-decoration: none;
    -webkit-transition: all .35s;
    transition: all .35s;
  }
  .header_full_screen .container_flex a:focus {
    outline: none;
  }
}

@media screen and (max-width: 880px) {
  .header_full_screen {
    display: none;
  }
  #main_header {
    position: relative;
    display: block;
    overflow: hidden;
  }
  #main_header .heading {
    position: absolute;
    font-size: 100%;
    top: 50%;
    left: auto;
    width: 100%;
    padding: 30px 0;
    background-color: rgba(123, 220, 254, 0.4);
  }
  #main_header .heading h1 {
    color: #f3f3f3;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    font-size: 16px;
  }
  #main_header .heading h2 {
    color: #131212;
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 25px;
    font-size: 10px;
    text-align: center;
    font-weight: 600;
  }
  #main_header img {
    position: relative;
    width: 120%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }
}

#about {
  -webkit-transition: all .4s;
  transition: all .4s;
  padding-bottom: 200px;
}

#about .container_flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#about .container_flex .flex_item_header {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

#about .container_flex .flex_item_header h1 {
  color: #131212;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 25px;
  padding-top: 30px;
  text-align: right;
  font-family: "Quicksand", sans-serif;
}

#about .container_flex .flex_item_header p {
  color: #131212;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 12px;
  max-width: 500px;
  text-align: justify;
  line-height: 1.7;
  margin-left: auto;
}

#about .container_flex .flex_item_header button {
  background-color: #7BDCFE;
  border: 1px solid #7BDCFE;
  color: #f3f3f3;
  display: block;
  margin-left: auto;
  font-family: "Inconsolata", monospace;
  padding: 10px 20px;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#about .container_flex .flex_item_header button:focus {
  outline: none;
}

#about .container_flex .flex_item_header button:hover {
  background-color: #4A4A4A;
  border: 1px solid #4A4A4A;
}

#about .container_flex .flex_item_header a {
  color: #131212;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 25px;
  font-size: 12px;
  text-decoration: none;
}

#about .container_flex .flex_item_header a:hover {
  border-bottom: 1px solid #131212;
}

#about .container_flex .flex_item_header ul.container_flex {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .container_flex .flex_item_header ul.container_flex li {
  padding: 30px 20px;
}

@media screen and (max-width: 1680px) {
  #about .container_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .container_flex .flex_item_header {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  #about .container_flex .flex_item_header h1 {
    text-align: center;
  }
  #about .container_flex .flex_item_header p {
    margin: auto;
  }
  #about .container_flex .flex_item_header ul.container_flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #about .container_flex .flex_item_header ul.container_flex li {
    padding: 30px 20px 30px 0;
  }
}

@media screen and (max-width: 880px) {
  #about {
    padding: 50px 20px;
    opacity: 1;
  }
  #about .container_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #about .container_flex .flex_item_header {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #about .container_flex .flex_item_header h1 {
    text-align: center;
    color: #131212;
  }
  #about .container_flex .flex_item_header p {
    font-size: 13px;
    margin: auto;
    display: block;
    color: #131212;
    max-width: 700px;
  }
  #about .container_flex .flex_item_header a {
    font-size: 13px;
    color: #131212;
  }
  #about .container_flex .flex_item_header button {
    display: none;
  }
  #about .container_flex .flex_item_header ul.container_flex {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#projects .project:first-child {
  margin-bottom: 150px;
}

#projects .project {
  padding: 200px 0;
  position: relative;
}

#projects .project h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 250px;
  width: 100%;
  position: absolute;
  top: -210px;
  left: -1620px;
  text-align: center;
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#projects .project .active {
  left: 0;
}

#projects .project .color_dark {
  color: #4A4A4A;
}

#projects .project .color_light {
  color: #f3f3f3;
}

#projects .project .container_flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .project .container_flex .flex_item {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

#projects .project .container_flex .flex_item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#projects .project .container_flex .description {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 20px;
}

#projects .project .container_flex .description p {
  color: #131212;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 12px;
  text-align: justify;
  padding: 30px 0;
  line-height: 1.5;
  max-width: 700px;
  display: block;
  margin: auto;
}

#projects .project .container_flex .description .sources {
  margin-top: 20px;
}

#projects .project .container_flex .description .sources a {
  color: #131212;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#projects .project .container_flex .description .sources a::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7BDCFE;
  width: 0;
  height: 100%;
  z-index: -1;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#projects .project .container_flex .description .sources a:hover::before {
  width: 100%;
}

@media screen and (max-width: 1260px) {
  #projects {
    padding: 100px 0;
  }
  #projects .project h2 {
    font-size: 150px;
    top: -150px;
  }
}

@media screen and (max-width: 880px) {
  #projects {
    display: block;
    opacity: 1;
    padding-top: 150px;
  }
  #projects .project:nth-child(2) {
    margin-bottom: 180px;
  }
  #projects .project {
    padding: 30px 0;
  }
  #projects .project h2 {
    font-size: 70px;
  }
  #projects .project .container_flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #projects .project .container_flex .flex_item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #projects .project .container_flex .flex_item img {
    max-width: 700px;
    display: block;
    margin: auto;
  }
  #projects .project .container_flex .description p {
    text-align: justify;
    padding: 30px;
  }
  #projects .project .container_flex .description .sources {
    text-align: center;
  }
  #projects .project .container_flex .description .sources a {
    background-color: rgba(123, 220, 254, 0.4);
  }
}

#skills {
  padding: 50px 0;
}

#skills h2 {
  color: #131212;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

#skills ul {
  list-style: none;
  width: 100%;
  padding: 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#skills ul li {
  font-family: "Inconsolata", monospace;
  padding: 20px;
  margin: 20px;
  background-color: #f3f3f3;
  border-radius: 20px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-transition: all .35s;
  transition: all .35s;
  -webkit-box-shadow: 2px 4px 26px -5px #cfcdcf;
  box-shadow: 2px 4px 26px -5px #cfcdcf;
}

#skills ul li:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #4A4A4A;
  color: #f3f3f3;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  #skills {
    display: block;
    padding: 0;
  }
  #skills ul {
    width: 100%;
  }
  #skills ul li {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (max-width: 500px) {
  #skills ul {
    width: 80%;
  }
  #skills ul li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 10px;
    margin: 10px;
  }
}

#contact {
  padding: 20px 0;
}

#contact .container h2 {
  color: #131212;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 25px;
  padding-bottom: 20px;
  text-align: center;
}

#contact .container .container_flex {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contact .container .container_flex .flex_item {
  padding: 10px 0;
  margin: 0 20px;
}

#contact .container .container_flex .flex_item i {
  font-size: 20px;
}

#contact .container .container_flex .flex_item a {
  color: #131212;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
  font-size: 20px;
}

#contact .container .container_flex .flex_item p {
  color: #131212;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 12px;
  display: inline;
  font-size: 20px;
}

@media screen and (max-width: 720px) {
  #contact .container .container_flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contact .container .container_flex .flex_item {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

footer {
  position: relative;
  padding: 20px 0;
}

footer p {
  color: #131212;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 10px;
}

@media screen and (max-width: 880px) {
  footer {
    display: block;
    bottom: 10px;
  }
  footer p {
    font-size: small;
  }
}

#contact form {
  position: relative;
}

#contact form input, #contact form textarea {
  display: block;
  margin-bottom: 20px;
  padding: 10px 15px;
  padding-right: 150px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4A4A4A;
  color: #131212;
  font-family: "Inconsolata", monospace;
  font-size: 12px;
}

#contact form input.error, #contact form textarea.error {
  border: 1px solid red;
}

#contact form input:focus, #contact form textarea:focus {
  outline: none;
}

#contact form input::-webkit-input-placeholder, #contact form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #131212;
  font-size: 12px;
}

#contact form input::-moz-placeholder, #contact form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #131212;
  font-size: 12px;
}

#contact form input:-ms-input-placeholder, #contact form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #131212;
  font-size: 12px;
}

#contact form input:-moz-placeholder, #contact form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #131212;
  font-size: 12px;
}

#contact form textarea {
  height: 100px;
}

#contact form button {
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  padding: 10px 15px;
  font-weight: bold;
}

#contact form #error_msg {
  color: red;
  font-size: 12px;
  font-family: "Inconsolata", monospace;
}

@media screen and (max-width: 1480px) {
  #contact form input, #contact form textarea {
    margin: auto;
  }
  #contact form input, #contact form textarea {
    margin-bottom: 20px;
    padding: 10px 15px;
    padding-right: 150px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #131212;
    color: #131212;
    font-family: "Inconsolata", monospace;
    font-size: 12px;
  }
  #contact form button {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    margin-top: 20px;
  }
  #contact form #error_msg {
    text-align: center;
  }
}

@media screen and (max-width: 870px) {
  #contact form input, #contact form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #4A4A4A;
    color: #4A4A4A;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
  }
  #contact form input.error, #contact form textarea.error {
    border: none;
    border-bottom: 1px solid red;
  }
  #contact form input::-webkit-input-placeholder, #contact form textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 0.3em;
  }
  #contact form input::-moz-placeholder, #contact form textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 0.3em;
  }
  #contact form input:-ms-input-placeholder, #contact form textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 0.3em;
  }
  #contact form input:-moz-placeholder, #contact form textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #4A4A4A;
    font-weight: bold;
    letter-spacing: 0.3em;
  }
  #contact form button {
    background-color: #4A4A4A;
    color: #131212;
  }
  #contact form button:focus {
    outline: none;
  }
  #contact form #error_msg {
    text-align: center;
  }
}

.arrow_up {
  display: none;
  position: fixed;
  z-index: 20;
  bottom: 0;
  right: 0;
  padding: 30px;
  font-size: 40px;
}

.arrow_up a i {
  color: #4A4A4A;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.arrow_up a i:hover {
  color: #7BDCFE;
}

#about .container_flex .flex_item_header .arrow a {
  display: block;
  text-align: right;
}

#about .container_flex .flex_item_header .arrow a i {
  font-size: 40px;
  color: #4A4A4A;
  -webkit-transition: all .35s;
  transition: all .35s;
}

#about .container_flex .flex_item_header .arrow a i:hover {
  color: #7BDCFE;
}

#about .container_flex .flex_item_header .arrow a:hover {
  border-bottom: none;
}

#about .container_flex .flex_item_header ul > .arrow {
  display: none;
}

@media screen and (max-width: 1680px) {
  #about .container_flex .flex_item_header p + .arrow {
    display: none;
  }
  #about .container_flex .flex_item_header ul > .arrow {
    display: block;
  }
}

@media screen and (max-width: 880px) {
  #about .container_flex .flex_item_header .container_flex {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  #about .container_flex .flex_item_header .container_flex .arrow {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    display: block;
  }
  #about .container_flex .flex_item_header .container_flex .arrow a {
    display: block;
    text-align: center;
  }
  #about .container_flex .flex_item_header .container_flex .arrow a i {
    font-size: 40px;
    color: #4A4A4A;
    -webkit-transition: all .35s;
    transition: all .35s;
  }
  #about .container_flex .flex_item_header .container_flex .arrow a i:hover {
    color: #7BDCFE;
  }
  #about .container_flex .flex_item_header .container_flex .arrow a:hover {
    border-bottom: none;
  }
}

#preloader {
  position: fixed;
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  z-index: 50;
}

#preloader .img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  width: 30%;
}

#preloader .img img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
}

#preloader .img p {
  color: #131212;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  text-align: center;
}

.loaded_hiding #preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded #preloader {
  display: none;
}
/*# sourceMappingURL=style.css.map */