@mixin h1 ($color) {
    color: $color;
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 25px;
}

@mixin p($color) {
    color: $color;
    font-family: $base-font;
    font-weight: 300;
    font-size: 12px;
}
