//---Typography---//

$base-font: 'Inconsolata', monospace;
$secondary-font: 'Quicksand', sans-serif;

//---Colors---//

$base-bg-color: #0c0c0c;
$base-text-color: #FFFFFF;
$second-text-color: #7BDCFE;
$third-text-color: #FFE799;
$fourth-text-color: #FFB496;
$fifth-text-color: #4A4A4A;
