//---Typography---//

$base-font: 'Inconsolata', monospace;
$secondary-font: 'Quicksand', sans-serif;

//---Colors---//

$base-bg-color: #1E1E1E;
$base-text-color: #FFFFFF;
$second-text-color: #7BDCFE;
$third-text-color: #FFE799;
$fourth-text-color: #FFB496;
